@{
    ViewBag.Title = "About us";
    
}
<h2>@ViewBag.Title</h2>

<p>
    We are a group of two people working on a schoolproject for Western Norway 
    University of Applied Sciences in the course DAT154
</p>
