@{
    ViewBag.Title = "Contact us";
    ViewBag.Message = "This is not a real contactpage, here are a fake address and email.";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    1. Google Road<br />
    Redding, CA 54123-1232<br />
    <abbr title="Phone">P:</abbr>
    815 493 00
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:DontSendEmail@example.com">DontSendEmail@example.com</a>
</address>