@{
    ViewBag.Title = "Hotel Booking";
}

<div class="jumbotron">
    <h1>Hotel Booking</h1>
    <p class="lead">In this web application you can see an overview of the available rooms in this hotel.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Room overview</h2>
        <p>
            Here you can see an overview of all the rooms that we have in this hotel, you
            can sort them by if they are available and add and delete rooms.
        </p>
        @Html.ActionLink("List of rooms", "Index", "rooms", "rooms/index.cshtml", new { @class = "btn btn-primary btn-lg" })
    </div>
    <div class="col-md-4">
        <h2>Reservations overview</h2>
        <p>Find a room you like? Reservations take place here!</p>
        @Html.ActionLink("List of reservations", "Index", "reservations", "reservations/index.cshtml", new { @class = "btn btn-primary btn-lg" } )
    </div>
</div>