@model IEnumerable<TestFix.Models.reservation>

@{
    ViewBag.Title = "Reservations";
}

<h2>Room reservations</h2>

<div class="row">
    <div class="col-md-2">
        @Html.ActionLink("Create New", "Create")
    </div>
</div>
<table class="table">
    <tr>
        <th>
            Start Date
        </th>
        <th>
            End Date
        </th>
        <th>
            Room number
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.start_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.end_time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.room.id)
        </td>
    </tr>
}

</table>
